<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography" />
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Bizentro.App.MAIN.ClientAgent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
	  <sectionGroup name="Bizentro">
	    <section name="MessageBox" type="Bizentro.AppFramework.UI.Providers.uniConfigurationHandler, Bizentro.AppFramework.UI.Providers" />
	    <section name="GeneralDataAccess" type="Bizentro.AppFramework.UI.Providers.uniConfigurationHandler, Bizentro.AppFramework.UI.Providers" />
	  </sectionGroup>

	  <section name="InitialVariable"  type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBalanceService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IBizentroGateway" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <!--<service behaviorConfiguration="" name="Bizentro.App.MAIN.WCFServiceLib.ClientAgentImplement">
        <endpoint address="net.pipe://localhost/Bizentro/ClientAgent" binding="netNamedPipeBinding"
          bindingConfiguration="" name="netpipeClientAgent" contract="Bizentro.App.MAIN.WCFServiceLib.IClientAgent" />
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/Bizentro/ClientAgent" />
          </baseAddresses>
        </host>
      </service>-->
    </services>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="ClientAgentBehavior">
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceMetadata httpGetEnabled="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <!--<client>
      <endpoint address="http://109.52.20.12/u2000_default/ClientSideLicenseAgent.svc"
        binding="basicHttpBinding" bindingConfiguration="" contract="Bizentro.AppFramework.License.LicenseAgentWCFServiceContract.IClientSideLicenseAgent"
        name="ClientSideLicenseAgent" />
    </client>-->
    <!--<diagnostics>    WCF 통신 에러 내역 확인시 주석을 푸시오!
      <messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
                      maxMessagesToLog="3000" maxSizeOfMessageToLog="2000"/>
    </diagnostics>-->
  </system.serviceModel>
  <!--<system.diagnostics>    WCF 통신 에러 내역 확인시 주석을 푸시오!
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose"
              propagateActivity="true">
        <listeners>
          <add name="e2e" />
        </listeners>
      </source>
      <source name="Microsoft.Samples.Udp" switchValue="Verbose" >
        <listeners>
          <add name="e2e" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="e2e" type="System.Diagnostics.XmlWriterTraceListener"
        initializeData="c:\logs\TraceFile.e2e"/>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>-->
  <applicationSettings>
    <Bizentro.App.MAIN.ClientAgent.Properties.Settings>
      <setting name="Bizentro_App_MAIN_ClientAgent_wsGetDatasetFL_CommonQueryDatabaseFL"
        serializeAs="String">
        <value>http://localhost:1914/VD/Services/Common/QueryDatabaseFL.asmx</value>
      </setting>
      <setting name="Bizentro_App_MAIN_ClientAgent_wsFilesManager_FilesManager"
        serializeAs="String">
        <value>http://localhost:56738/VD/Services/Common/FilesManager.asmx</value>
      </setting>
    </Bizentro.App.MAIN.ClientAgent.Properties.Settings>
  </applicationSettings>
  <securityCryptographyConfiguration>
    <hashProviders>
      <add algorithmType="System.Security.Cryptography.SHA1Managed, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
     saltEnabled="true" type="Bizentro.Framework.CryptographyProvider.HashAlgorithmProvider, Bizentro.Framework.CryptographyProvider"
     name="HashModule" />
      <add algorithmType="System.Security.Cryptography.RIPEMD160Managed, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
     saltEnabled="false" type="Bizentro.Framework.CryptographyProvider.HashAlgorithmProvider, Bizentro.Framework.CryptographyProvider"
     name="HashCommon" />
    </hashProviders>
    <symmetricCryptoProviders>
      <add algorithmType="System.Security.Cryptography.RijndaelManaged, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
     protectedKeyFilename="C:\Bizentro\Bizentro\App\UI\Main\Bizentro.App.MAIN.Shell\SymmetricModule.key"
     protectedKeyProtectionScope="CurrentUser" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.SymmetricAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography"
     name="SymmetricModule" />
      <add algorithmType="System.Security.Cryptography.RijndaelManaged, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
     protectedKeyFilename="C:\Bizentro\Bizentro\App\UI\Main\Bizentro.App.MAIN.Shell\SymmetricCommon.key"
     protectedKeyProtectionScope="CurrentUser" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.SymmetricAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography"
     name="RijndaelManaged" />
    </symmetricCryptoProviders>
  </securityCryptographyConfiguration>

	<Bizentro>
		<MessageBox defaultProvider="MessageBoxProvider">
			<providers>
				<clear />
				<add name="MessageBoxProvider" type="Bizentro.AppFramework.Providers.MessageBox.uniMessageBoxProvider, Bizentro.AppFramework.Providers.MessageBox" />
			</providers>
		</MessageBox>
		<GeneralDataAccess defaultProvider="GeneralDataAccessProvider">
			<providers>
				<clear />
				<add name="GeneralDataAccessProvider" type="Bizentro.AppFramework.Providers.GeneralDataAccess.uniDataAccessProvider, Bizentro.AppFramework.Providers.GeneralDataAccess" />
			</providers>
		</GeneralDataAccess>
	</Bizentro>

	<!--<system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="Bizentro.Framework.Web.Compression.GZipSoapExtension, Bizentro.Framework.Web.Compression" priority="1" group="0" />
      </soapExtensionTypes>
    </webServices>
  </system.web>-->
	<InitialVariable>
		<add key="UsePrevServerCompanyData" value="true"  />
		<add key="WriteUserStateLog" value="false"  />
		<add key="UseLicenseServer" value="false"  />
		<add key="WritePerformanceLog" value="true"  />
		<add key="isTIS" value="true"  />
	</InitialVariable>
	</configuration>